@import "partials/variables";
@import "partials/mixins";

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding:0;
	margin:0;
}

body{
	font-size:$base-font;
}

.align-grids{
	font-size:0;
	//allow for exact percentage widths 
	//in first children inline-block
	//elements

	> div{
		font-size:$base-font;
		//resets font size
	}

	> li{
			font-size:$base-font;
	}
}

section{
	min-height:100vh;
	background-color: #d0f4ea;
}

.container{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	@include small-screens{
		width:95%;
	}
	@include medium-screens{
		width:90%;
	}
	@include large-screens{
		max-width:1200px;
	}
}




.logo{
	padding:5px;
	max-width:30%;
	

	@include small-screens{
		width:20%;
		padding:20px;
	}
	@include medium-screens{
		//width:20%;
		//padding:20px;
	}
	@include large-screens{
		width:30%;
	}

	img{

		width: 100px;

		@include small-screens{
		width:100%;
		height:auto;
	}
		
		
	}
}


.logo, .nav-menu{
	display:inline-block;
	vertical-align:middle;
}
.nav-menu{
	@include mobile-screens-only{
		width:100%;
		display:none;
		}

	@include small-screens{
		width:80%;
	}
	@include medium-screens{
		//width:80%;
	}
	@include large-screens{
		width:70%;
	}

	ul{
		
		padding:0;
		margin:0;

		@include mobile-screens-only{
			width:100%; 
			padding-top: 23px;
		}

		@include small-screens{
			width:100%;
			
		}
	}

	li{
		
		display:inline-block;
		text-align:center;
		@include mobile-screens-only{
			line-height:60px;		
			border-bottom:1px solid #e5eaed;
			min-width:100%;
			background-color: #7c95a6;

			&:hover{
				background-color: #a6cce6;
			}
		}
		@include small-screens{
			width:20%;
		}

	}

	a{
		text-decoration:none;

		@include mobile-screens-only{
			color:#fff;
			padding:20px 30%;
		}
	}
}



.logo{
	@include mobile-screens-only{
		position:relative;
	}
}

.nav-button{
	display:inline-block;
	position:absolute;
	right:0;
	padding: 4px 15px 0 0;	
	font-size: 2em;

	@include small-screens{
		display:none;

	}

	
}


//testing purposes
nav{

	background-color:$main-nav-bg;
	@include mobile-screens-only{
		
		padding:10px;
		min-height: 60px;
	}
	@include mobile-screens-only{
		.container{
			padding: 0;
		}
	}
	
}

.menu-active{
	display:block;
	padding-top:20px;
}

//fixing the navigator on scroll
.fixed-nav{
	top: 0;
    position: fixed;
    z-index: 999;
    width: 100%;
    padding: 20px 0px;
}






	
